body {
background-color: #121212;
color: #ffffff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
    
.register-card {  
background-color: #404244;
padding: 2rem;
border-radius: 12px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
width: 100%;
max-width: 500px;
}
    
.form-control {
background-color: #232323;
border: none;
color: #ffffff;
}
    
.form-control:focus {
background-color: #232323;
color: #ffffff;
box-shadow: none;
}
    
.btn-register {
background-color: #43CAAD;
border: none;
}
    
.btn-register:hover {
  background-color: #232323;
}
    
.login-link {
  margin-top: 1rem;
  text-align: center;
}
    
.login-link a {
  color: #43CAAD;
  text-decoration: none;
}
    
.login-link a:hover {
  text-decoration: underline;
}